.App {
  text-align: center;
  background-image: url(./images/earthrise_apollo8_bkgd.jpg);
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu {
  list-style-type: none;
  background-color: #F4F1C9;
  font-family: fantasy;
  color: green;
  font-weight: bold;
  margin: 0;
  padding: 5;
  position: fixed;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  text-align: justify;

}

a.Menulinks:visited {
  color: green;
}
